@import "components/circularCountdown.css";


@tailwind preflight;

a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none
}

@tailwind utilities;

.border-collapse {
    border-collapse: collapse;
}
